:root {
  --primary-color: blue;
  --primary-text-color: white;
  --card-background-color: lightblue;
  --card-padding: 1rem;
  --card-border-radius: 8px;
  --card-alignment: center;
  --card-height: 300px;
  --card-width: 300px;
  --card-box-shadow: 4px 8px 16px rgb(255, 0, 0);
}

.card {
  background-color: var(--card-background-color);
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  box-shadow: var(--card-box-shadow);
  text-align: var(--card-alignment);
  width: var(--card-width);
  height: var(--card-height);
  margin: 0 auto;
}

body {
  background-color: var(--primary-color);
  color: var(--primary-text-color);
}
