:root {
  --p-font-size: 18px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header header header"
    "aside main advertisement"
    "footer footer footer";
  grid-template-columns: 0.5fr 3fr 1fr;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}

.header {
  display: flex;
  grid-area: header;
  background-color: aqua;
  padding: 0px;
  height: 80px;
  padding: 30px;
  justify-content: space-between;
  align-items: center;
}

.aside {
  grid-area: aside;
  background-color: tomato;
  padding-left: 20px;
  padding-top: 40px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: var(--p-font-size);
}

.main {
  grid-area: main;
  background-color: lightgreen;
  padding: 20px;
  font-size: var(--p-font-size);
}

.advertisement {
  grid-area: advertisement;
  background-color: indianred;
  padding: 20px;
  font-size: var(--p-font-size);
}

.footer {
  grid-area: footer;
  background-color: lightblue;
  padding: 10px;
  font-size: var(--p-font-size);
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 150px);
  grid-template-rows: repeat(3, 150px);
  gap: 10px;
  place-items: center;
  background: #eee;
  height: 100vh;
  justify-content: center;
  align-content: center;
}

.grid-item1,
.grid-item2,
.grid-item3,
.grid-item4,
.grid-item6,
.grid-item7,
.grid-item8,
.grid-item9 {
  display: grid;
  background: lightcoral;
  color: white;
  font-size: 1.5rem;
  text-align: center;
  width: 150px;
  height: 150px;
  place-items: center;
  justify-items: right;
  align-items: end;
}

.grid-item5 {
  display: grid;
  background: lightcoral;
  color: white;
  font-size: 1.5rem;
  width: 150px;
  height: 150px;
  justify-self: left;
  align-self: flex-start;
}

.grid2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
  height: 100vh;
  background: #eee;
}

.grid2-item {
  background-color: firebrick;
  padding: 10px;
  color: white;
  font-size: 1.5rem;
  text-align: center;
}
