.hypnotic {
  width: 56px;
  height: 56px;
  border: 2.2px solid #474bff;
  border-radius: 50%;
  display: grid;
  animation: hypnotic-ss6pk4 1.5s infinite linear;
  transform-origin: 50% 80%;
  justify-self: center;
}

.hypnotic:before,
.hypnotic:after {
  content: "";
  grid-area: 1/1;
  border: inherit;
  border-radius: 50%;
  animation: inherit;
  animation-duration: 1s;
  transform-origin: inherit;
}

.hypnotic:after {
  --s: -1;
}

img {
  height: 200px;
  width: 200px;
}

@keyframes hypnotic-ss6pk4 {
  100% {
    transform: rotate(calc(var(--s, 1) * 1turn));
  }
}
