:root {
  --bg-color-light: #ffffff;
  --text-color-light: #000000;
  --bg-color-dark: #121212;
  --text-color-dark: #ffffff;
}

body.light {
  background-color: var(--bg-color-light);
  color: var(--text-color-light);
}

body.dark {
  background-color: var(--bg-color-dark);
  color: var(--text-color-dark);
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--bg-color-dark);
    color: var(--text-color-dark);
  }
}
@media (prefers-color-scheme: light) {
  body {
    background-color: var(--bg-color-light);
    color: var(--text-color-light);
  }
}
